:root{
    --primaryColor: #ff274b;
    --secondaryColor: #f7bcf7;
    --lightColor: #ffffff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}

p{
    color: var(--lightColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

h1{
    font-size: 4rem;
    margin: 1rem 0;
}

h3{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

h4{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    letter-spacing: 0.12rem;
}

h5{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

span{
    color: var(--primaryColor);
}

/*------------------------------------------------
------------------------home seciton-------------
------------------------------------------------*/

.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

.logo{
    height: 50px;
    cursor: pointer;
}

nav{
    padding-top: 2rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a{
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover{
    color: var(--primaryColor);
}

.btn{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.8rem 1.8rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}

.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-texts{
    position: absolute;
    bottom: 150px;
}

.social{
    margin-top: 3rem;
}

.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social a{
    text-decoration: none;
}

.social img:hover{
    transform: scale(1.2);
}

.content-img{
    width: 50%;
    height: 60%;
    position: relative;
    align-self: flex-end;
}

.content-img img{
    position: absolute;
    bottom: 90px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.content-img:hover .shape{
    bottom: 40px;
}

.content-img:hover .editing-pic{
    left: 45%;
}

/*------------------------------------------------
------------------------about seciton-------------
------------------------------------------------*/

.about{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-texts{
    width: 60%;
    text-align: center;
}

/*------------------------------------------------
------------------------projects seciton-------------
------------------------------------------------*/

.projects{
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
}

.text-center{
    text-align: center;
}

.box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.card{
    width: 300px;
    background-color: var(--bgColor-2);
    border-radius: 20%;
    padding: 1.3rem 2rem;
    margin-top: 3rem;
    text-align: center;
}

.card-img{
    width: 100%;
    height: 80%;
}

/*------------------------------------------------
------------------------skills seciton-------------
------------------------------------------------*/

.skills{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .skills-texts{
    width: 60%;
    text-align: center;
}

.skills .skills-texts{
    width: 100%;
}

.skills-imgs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    width: 100%;
    padding-left: 4rem;
    transition: 1s;
}

.skill{
    width: 100px;
    height: 100px;
    margin: 0 2rem 2rem;
}

.skills-texts{
    text-align: center;
}

/*------------------------------------------------
------------------------footer seciton-------------
------------------------------------------------*/

footer{
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}

.content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-footer p{
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}

.content-footer .end{
    margin-top: 1rem;

}

/*------------------------------------------------
------------------------menu button---------------
------------------------------------------------*/

#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}

#menu.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px)
}

#menu.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

#menu.is-active span{
    background-color: var(--primaryColor);
}

/*------------------------------------------------
------------------------media queries-------------
------------------------------------------------*/

@media screen and (max-width: 575px){
    :root{
        --padding: 1.5rem;
    }

    html{
        font-size: 13px;
    }

    .content-img{
        display: none;
    }

    nav{
        position: fixed;
        padding-top: 0;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 999;
    }

    nav ul{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    nav ul.is-active{
        display: block;
    }

    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }

    nav > a{
        display: none;
    }

    .content-texts{
        bottom: 100px;
    }

    .social{
        margin-top: 70px;
    }

    h3{
        margin-bottom: 70px;
    }

    #menu{
        display: block;
    }

    .about .about-texts{
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .card-img{
        width: 100%;
        height: 12rem;
    }

    .skills-texts{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skill{
        width: 60px;
        height: 60px;
        margin: 0 0.5rem 1rem;
    }

    .skills-imgs{
        margin-top: 2rem;
        justify-content: center;
        padding: 0;
    }

    .content-footer p{
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width:767px){
    :root{
        --padding: 1.5rem;
    }

    html{
        font-size: 13px;
    }

    .content-img{
        display: none;
    }

    nav{
        position: fixed;
        padding-top: 0;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 999;
    }

    nav ul{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    nav ul.is-active{
        display: block;
    }

    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }

    nav > a{
        display: none;
    }

    .content-texts{
        bottom: 100px;
    }

    .social{
        margin-top: 30px;
    }

    h3{
        margin-bottom: 30px;
    }

    .social img{
        margin-top: 60px;
        margin-bottom: -20px;
    }

    #menu{
        display: block;
    }

    .about .about-texts{
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .card-img{
        width: 100%;
        height: 12rem;
    }

    .skills-texts{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skill{
        width: 60px;
        height: 60px;
        margin: 0 0.5rem 1rem;
    }

    .skills-imgs{
        margin-top: 2rem;
        justify-content: center;
        padding: 0;
    }

    .content-footer p{
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width:991px){
    :root{
        --padding: 1.5rem;
    }

    html{
        font-size: 13px;
    }

    .content-img{
        display: none;
    }

    nav{
        position: fixed;
        padding-top: 0;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 999;
    }

    nav ul{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    nav ul.is-active{
        display: block;
    }

    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }

    nav > a{
        display: none;
    }

    .content-texts {
        bottom: 150px; 
    }

    .social{
        margin-top: 70px;
    }

    h3{
        margin-bottom: 70px;
    }

    #menu{
        display: block;
    }

    .about .about-texts{
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
    .card-img{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 12rem;
    }

    .skills-texts{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skill{
        width: 60px;
        height: 60px;
        margin: 0 0.5rem 1rem;
    }

    .skills-imgs{
        margin-top: 2rem;
        justify-content: center;
        padding: 0;
    }

    .content-footer p{
        width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width:1279px){
    :root{
        --padding: 1.5rem;
    }

    html{
        font-size: 13px;
    }

    .content-img img{
       height: auto;
       width: 100%;
    }

    nav{
        position: fixed;
        padding-top: 0;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 999;
    }

    nav ul{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    nav ul.is-active{
        display: block;
    }

    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }

    nav > a{
        display: none;
    }

    .content-texts {
        bottom: 150px; 
    }

    .social{
        margin-top: 70px;
    }

    h3{
        margin-bottom: 70px;
    }

    #menu{
        display: block;
    }

    .about .about-texts{
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
    .card-img{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 12rem;
    }

    .skills-texts{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skill{
        width: 60px;
        height: 60px;
        margin: 0 0.5rem 1rem;
    }

    .skills-imgs{
        margin-top: 2rem;
        justify-content: center;
        padding: 0;
    }

    .content-footer p{
        width: 100%;
    }
}